name: DVWA Security Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  security-scans:
    runs-on: ubuntu-latest

    steps:
    # ----------------------------
    # Checkout code
    # ----------------------------
    - name: Checkout repository
      uses: actions/checkout@v4

    # ----------------------------
    # Semgrep SAST Scan
    # ----------------------------
    - name: Run Semgrep
      uses: semgrep/semgrep-action@v1
      #continue-on-error: true
      with:
        config: p/default
    # ----------------------------
    # Trivy Filesystem Scan
    # ----------------------------
    - name: Run Trivy vulnerability scan
      uses: aquasecurity/trivy-action@0.20.0
      continue-on-error: true
      with:
        scan-type: fs
        severity: CRITICAL,HIGH,MEDIUM
        exit-code: 0
        #ignore-unfixed: true

    # ----------------------------
    # Gitleaks Secret Scan
    # ----------------------------
    - name: Run Gitleaks
      uses: gitleaks/gitleaks-action@v2
      #continue-on-error: true
    # ----------------------------
    # Summary
    # ----------------------------
    - name: Scan Summary
      run: |
        echo "✅ Semgrep scan completed"
        echo "✅ Trivy scan completed"
        echo "✅ Gitleaks scan completed"
